<!-- Modal -->
<div class="modal" id="jpu-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t 'general.close' %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bilder hochladen <!--#I18N --></h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'jquery_popup_uploader/modal_form' %>
        <%= simple_form_for :image, :defaults => { :input_html => { :class => 'input-sm' } } do %>
          <div id="template_area" class="row">
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel btn btn-default" data-dismiss="modal"><%= t 'general.cancel' %></button>
        <button type="button" class="apply btn btn-primary"><%= t 'general.save_changes' %></button>
      </div>
    </div>
  </div>
</div>